.body-wrap {
    background: url("../images/background.jpg") no-repeat;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 14px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    color: #FFFFFF;

    display: flex;
    flex-direction: column;
    /*justify-content: stretch;*/
}

.container {
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
}

.header {
    padding-top: 17px;
    padding-bottom: 17px;
    background-color: rgba(0, 0, 0, 0.4);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.svg-icon {
    fill: #FFFFFF;
}

.svg-icon,
.logo-link,
.log-in-link,
.sign-up-link,
.log-link-form,
.facebook,
.google,
.tos-link,
.create-account-btn{
    transition: all 0.3s ease-in-out;
}

.svg-icon:hover {
    fill: #3CB878;
}


.logo-link {
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.logo-link:hover,
.log-in-link:hover,
.sign-up-link:hover {
    color: #3CB878;
}

.icons-wrap {
    display: flex;
    align-items: center;
    column-gap: 25px;
    position: relative;
}

.welcome {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 25px;
}

.welcome::before {
    content: "";
    width: 1px;
    height: 19px;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    right: 195px;
    bottom: 3px;
}

.log-in-link,
.sign-up-link {
    color: #FFFFFF;
}

.main {
    flex: 1 1 auto;
}


.sign-up-form {
    padding-top: 30px;
    padding-bottom: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 445px;
    padding: 31px 60px 38px;
    background: #FFFFFF;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
    text-align: center;
    position: relative;
}

.form::before {
    content: " ";
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    position: absolute;
    top: 30px;
    left: 0;
}

.form-title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 15px;
}

.form-title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}

.log-link-form {
    text-decoration: underline 0;
    text-decoration-color: rgba(1, 129, 63, 0);
}

.log-link-form:hover,
.tos-link:hover {
    text-decoration: underline;
    text-decoration-color: rgba(1, 129, 63, 1);
    color: #01813F;
}

.accent-color {
    color: #3CB878;
}

.sign-btn-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
    padding-bottom: 40px;
    border-bottom: 1px solid #F2F2F2;
    position: relative;
}

.sign-btn-wrap::after {
    content: "or";
    color: #848484;
    padding-right: 2px;
    padding-left: 2px;
    background-color: #FFFFFF;
    position: absolute;
    bottom: -6px;
    left: 155px;
}

.sign-up-btn {
    width: 160px;
    padding: 12px;
    color: #FFFFFF;
    border-radius: 4px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    font-size: 16px;
    line-height: 16px;
}

.facebook {
    background-color: #305DB8;
}

.facebook:hover {
    background-color: #022263;
}

.google {
    background-color: #DF4A32;
}

.google:hover {
    background-color: #AB1F09;
}

.facebook::before,
.google::before {
    content: "";
    width: 1px;
    height: 28px;
    position: absolute;
    left: 48px;
    top: 10px;
}

.facebook::before {
    background-color: rgba(10, 22, 47, 0.1);
}

.google::before {
    background-color: rgba(43, 13, 9, 0.1);
}

.facebook-logo,
.google-logo {
    margin-right: 38px;
}

.form-field {
    width: 100%;
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    height: 45px;
    padding: 15px 20px 15px;
    color: #434343;
}

.form-field:not(:last-of-type) {
    margin-bottom: 15px;
}

.form-field:focus {
    outline: none;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}

.form-field::placeholder {
    color: #BEBEBE;
}

.checkbox {
    display: none;
}

.checkbox + label {
    margin-top: 12px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    color: #434343;
    cursor: pointer;
    padding-left: 28px;
    position: relative;
}

.checkbox + label::before {
    content: "";
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    position: absolute;
    left: 0;
}

.checkbox + label::after {
    content: url("../images/check.svg");
    position: absolute;
    width: 14px;
    height: 14px;
    left: 2px;
    bottom: 2px;
    display: none;
}

.checkbox:checked + label::after {
    display: block;
}

.tos-link {
    text-decoration: underline;
    text-decoration-color: rgba(1, 129, 63, 0);
}

.create-account-btn {
    width: 100%;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    color: #FFFFFF;
    border: none;
    padding: 16px;
    text-align: center;
}

.create-account-btn:hover {
    background-color: #01813F;
}